.addform-container {
  margin-top: 30px;
  margin-bottom: 0;
  height: 100vh;
  width: 500px;
}

.input-item {
  border-radius: 25px;
  border: 2px solid #f2b807;
  line-height: 2.5;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0px 10px;
  width: 100%;
  background-color: white;
}

.time-frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 60px;
  list-style-type: none;
  padding: 15px;
  height: 50vh;
  border: 2px solid white;
  border-radius: 25px;
  background-color: #f2b807;
  opacity: 0.8;
}

.time-frame-label {
  margin-bottom: 8px;
}

.item-name {
  padding: 10px 0;
}

.time-frame-legend {
  text-align: center;
}

@media screen and (max-width: 920px) {
  .addform-container,
  .time-frame {
    width: 100%;
  }
}
