.addform-container {
  height: 100vh;
  width: 300px;
}

.addform-container-label {
  font-size: 16px;
  font-weight: 700;
}

.input-itemform {
  border-radius: 8px;
  line-height: 2;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100%;
  border: #f2b807 solid 2px;
}

.input-itemform:focus {
  outline: #f2b807;
}

.time-frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 15px;
  height: 30vh;
  border: 2px solid #f2b807;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

.time-frame-label {
  margin-bottom: 8px;
}

.item-name {
  padding: 10px 0;
}

.time-frame-legend {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.time-frame-radio {
  width: 30px;
}

@media screen and (max-width: 920px) {
  .addform-container,
  .time-frame {
    width: 100%;
  }
}
