.empty-shopping-list {
  margin-bottom: 20px;
  max-width: 100%;
  word-break: break-word;
}

.filter-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto 10px;
  position: relative;
  width: 80%;
}

.filter-form label {
  font-size: 16px;
  font-weight: 700;
}

.search-item {
  border-radius: 8px;
  line-height: 2;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 5px 42px 5px 10px;
  width: 100%;
  border: #f2b807 solid 2px;
}

.search-item:focus {
  outline: #f2b807;
}

.close-icon {
  font-size: 20px;
  bottom: 25px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
}

.button-delete {
  border: none;
  background-color: transparent;
  display: flex;
  font-size: 18px;
}

.products-list {
  overflow-y: auto;
  width: 80%;
  flex-grow: 1;
  margin-bottom: 5px;
}

.button-addform {
  background-color: #f2b807;
  border: none;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 7px;
}

@media screen and (max-width: 920px) {
  .products-list,
  .filter-form {
    width: 100%;
  }

  .filter-form {
    margin-top: 16px;
  }
}

::-webkit-scrollbar {
  display: none;
}
