.page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.card-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 920px) {
  .image-container {
    display: none;
  }

  .card-container {
    width: 100%;
  }
}
