.input-item {
  border-radius: 4px;
  line-height: 2;
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: space-between;
}

.time-frame {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  list-style-type: none;
  letter-spacing: 1px;
}
