body {
  background-color: #f2b807;
}

.add-container {
  border-radius: 25px;
  height: 90vh;
  width: 500px;
}

.add-form {
  text-align: left;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  display: flex;
  margin: 30px auto 5px;
  height: 60vh;
}

.button-addform {
  background-color: #f2b807;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 25px;
  margin-bottom: 40px;
}

@media screen and (max-width: 920px) {
  .add-form {
    margin-top: 16px;
  }

  .add-container,
  .add-form {
    width: 100%;
  }
}
