body {
  background-color: #f2b807;
}

.add-container {
  background: #f0f0f2;
  border-radius: 4%;
  height: 100%;
  width: 300px;
}

.add-form {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  display: flex;
  margin: 0 auto 30px;
}

@media screen and (max-width: 920px) {
  .add-form {
    margin-top: 16px;
  }
}
