body {
  background-color: #f2b807;
}

.add-header {
  background: url('./shopping-add-image.svg') no-repeat;
  background-size: 60px;
  background-position: right top 24%;
  width: 300px;
  margin-right: 20px;
}

.add-container {
  background: white;
  border: 2px solid white;
  border-radius: 25px;
  height: 80vh;
  width: 300px;
  margin-top: 80px;
}

.add-form {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  display: flex;
  margin: 0 auto 30px;
  height: 60vh;
}

@media screen and (max-width: 920px) {
  .add-form {
    margin-top: 16px;
  }
}
