* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container {
  height: calc(100vh - 100px);
  text-align: center;
  overflow: auto;
  margin-top: 50px;
}

.fixed {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.navigation {
  bottom: 0;
}

.title {
  top: 0;
}

.link {
  background-color: #e1dada;
  border-radius: 5px;
  color: black;
  height: 30px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  width: 84px;
}

.selected {
  background-color: #6383ec;
  color: white;
}
