* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  background-color: #f2b807;
  height: 100vh;
  padding: 60px 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

.fixed {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.link {
  background-color: #e1dada;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  min-width: 84px;
  border: none;
  font-size: 16px;
}

.welcome-button {
  width: 100%;
}

@media screen and (max-width: 920px) {
  #root {
    padding: 20px 0;
  }
}
