* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2b807;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

.container {
  margin-top: 50px;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.fixed {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.link {
  background: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 7px;
  text-decoration: none;
}

.welcome-button {
  width: 100%;
  margin-bottom: 10px;
}

.selected {
  background-color: #6383ec;
  color: white;
}

/** component join-list **/
.errorAuth {
  color: rgb(0, 0, 0);
  text-shadow: rgb(40 40 40) 0.5px 0 2px;
}
